In [230]:
import json
import pandas as pd
import numpy as np
input = [
    {
		"event_id": 2,
		"order_id": 1,
		"item_id": 1,
		"count": 2,
		"return_count": 1,
		"status": "OK"
	},
	{
		"event_id": 1,
		"order_id": 1,
		"item_id": 1,
		"count": 2,
		"return_count": 0,
		"status": "OK"
	},
	{
		"event_id": 2,
		"order_id": 2,
		"item_id": 1,
		"count": 3,
		"return_count": 1,
		"status": "OK"
	},
	{
		"event_id": 3,
		"order_id": 1,
		"item_id": 1,
		"count": 2,
		"return_count": 0,
		"status": "OK"
	},
	{
		"event_id": 1,
		"order_id": 3,
		"item_id": 1,
		"count": 2,
		"return_count": 2,
		"status": "CANCEL"
	}
]
with open('input.json', 'w', encoding='utf-8') as f:
    json.dump(input, f)

In [251]:
with open('input.json', 'r', encoding='utf-8') as f:
    data = pd.DataFrame(json.load(f)).sort_values('order_id')
data

   count  event_id  item_id  order_id  return_count  status
0      2         2        1         1             1      OK
1      2         1        1         1             0      OK
3      2         3        1         1             0      OK
2      3         2        1         2             1      OK
4      2         1        1         3             2  CANCEL

In [254]:
data = data.sort_values('event_id', 
                        ascending=False).groupby('order_id', as_index=False).first().loc[data["status"] == 'OK']
data.loc[data["status"] == 'OK']

   order_id  count  event_id  item_id  return_count status
0         1      2         3        1             0     OK
1         2      3         2        1             1     OK

In [258]:
features = [col for col in data]
lst = data.to_numpy()

In [261]:
ans = []
for el in lst:
    ans.append(lst[0]

[1 2 3 1 0 'OK']
[2 3 2 1 1 'OK']